<!-- BOOKMARKS TAB -->
<div id="bookmarkstab" class="tab-content" style="display: block">
    <!-- LOAD BOOKMARK DATA -->
    <div id="userBookmarksContainer"></div>
    <script src="../js/userBookmarks.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadUserBookmarks("bookmarks"));
    </script>
</div>