<!-- COMMENTS TAB -->
<div id="commentstab" class="tab-content" style="display: block">

    <!-- LOAD COMMENT DATA -->
    <div id="userCommentContainer"></div>
    <script src="../js/userComments.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadUserComments("comments"));
    </script>
</div>