<!-- DISLIKES TAB -->
<div id="dislikestab" class="tab-content" style="display: block">

    <!-- LOAD DISLIKES DATA -->
    <div id="userDislikesContainer"></div>
    <script src="../js/userDislikes.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadUserDislikes("dislikes"));
    </script>
</div>