/*
    This is a CSS file used in homePage.html
*/

@font-face {
    font-family: 'Inter'; 
    src: url('resources/InterFont.ttf');
}

@font-face {
    font-family: 'Jost'; 
    src: url('resources/Jost-Bold.ttf');
}

body {
    background-color: #030909;
    background-repeat: repeat;
    font-family: "Inter";

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 32px;
    gap: auto;
    width: 100%;
    box-sizing: border-box;
    height: 88px;

    border-bottom: 1px solid white
}

.logoAndBrandName {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.brandName {
    color: #98D5DC; 
    font-family: "Jost"; 

    font-size: 16px; 
    font-weight: Bold; 

    padding: 0px 10px;
}

.headerSpace {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0px 20px 0px 600px;
    width: 100%;
    max-width: 2000px;
    height: 54px;

}

.searchBar {
    background-color: #ECE6F0;
    color: #49454F;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 48px;
    width: 100%;
    max-width: 805px;

    border-radius: 28px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 32px;
    padding: 32px;

    width: 100%;
    box-sizing: border-box;
}

.navBar {

    width: 100%;
    height: 630px;
    min-width: 220px;
    max-width: 342px;

    background-color: gray;
}

.rightBar {

    width: 100%;
    height: 356px;
    min-width: 220px;
    max-width: 342px;

    background-color: gray;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 100%;
    min-width: 540px;
}

.newPost {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 100%;
}

.newPostButton {
    background-color: #98D5DC;
    font-size: 16px;
    font-weight: Bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    width: 100%;
    height: 48px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 100%;
}

.mainPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;

    width: 100%;
}

.postUser {    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
    padding: 0px 10px;

    width: 100%;
    box-sizing: border-box;
}

.profilePic {
    background-color: #D9D9D9;
    border-radius: 99px;

    width: 45px;
    height: 40px;
}

.username {
    font-size: 18px;
    font-weight: Bold;
    color: #E4F3F6;

    width: 100%;
}

.optionsButton {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px 0px;

    width: 5px;
    height: 20px;
    color: #E4F3F6;
}

.postContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0px 10px;

    width: 100%;
    box-sizing: border-box;
}

.postText {
    font-size: 18px;
    color: #E4F3F6;
}

.postImageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.postImage {
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
}

.postAnalytics {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0px 16px;
    gap: 32px;

    width: 100%;
    box-sizing: border-box;
}

.hearts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 84px;
    height: auto;
}

.comments {
    padding: 2px;
}


