/*
     This is a CSS file used in homePage.html
*/

/* ---------- GENERAL ---------- */
@font-face {
     font-family: 'Inter'; 
     src: url('resources/InterFont.ttf');
}

@font-face {
     font-family: 'JostBold'; 
     src: url('resources/Jost-Bold.ttf');
}

* {
     box-sizing: border-box;
     font-family: "Inter"; 
}

html, body {
     min-width: 1000px; 
     overflow-x: auto;
}

.inviBrk {
     height: 20px;
}
/* ---------- GENERAL ---------- */

body {
     background-color: #030909;
     background-repeat: repeat;
     font-family: "Inter";

     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
}

button {
     border: none; 
     cursor: pointer;

     border-radius: 8px;
     transition: background-color 0.3s, transform 0.2s;
}

button:hover {
     background-color: #7FB8C8;
     transform: scale(1.02);
}
 

button:active {
     transform: scale(0.95); 
}

/* ---------- HEADER ---------- */
#appName {
     font-family: "JostBold";
     color: #98D5DC;
     font-size: 20px;
     font-weight: 400;
}

header {
     position: sticky;
     top: 0;
     background-color: black;
     height: 80px;
     width: 100%;
     margin: 0;

     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     padding: 0 30px 0 20px;

     box-shadow: 2px 2px white;
}

#logo {
     margin-right: 15px;
}

#headercol1 {
     display: flex; 
     justify-content: flex-start; 
     align-items: center;
}

#headercol2 {
     display: flex;
     justify-content: flex-end; 
     align-items: center;
}

.searchBar {
     background-color: #ECE6F0;
     color: #49454F;
     
     display: flex;
     justify-content: flex-start;
     align-items: center;

     height: 35px;
     width: 400px;
     max-width: 800px;

     border-radius: 30px;
}

input[type="text"] {
     background: none;
     border: none;
     width: 100%;
     height: 100%;

     color: #49454F;
     font-size: 13px;
     outline: none;
}
/* ---------- HEADER ---------- */

.content {
     display: flex;
     justify-content: center;
     align-items: flex-start;

     gap: 32px;
     padding: 32px 180px;

     width: 100%;
     box-sizing: border-box;
}

/* ---------- NAV BAR ---------- */

.navBar {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     padding: 0px;
     gap: 20px;

     width: 100%;
     min-width: 220px;
     max-width: 320px;
     height: auto;
}

.profileNav {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;

     padding: 10px;
     gap: 8px;
     border-radius: 12px;
     
     background-color: #1D1E1F; 

     position: sticky;
}

.profile {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     padding: 10px;
     gap: 24px;

     width: 100%;
}

.userProfilePic {
     background-color: #D9D9D9;
     border-radius: 99px;

     width: 100px;
     height: 100px;
}

.usernameAndhandle {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;

     gap: 4px;

     width: 100%;
     height: auto;
}

.profileUsername {
     font-size: 18px;
     font-weight: Bold;
     color: #E4F3F6;

     margin: 0;
}

.profileUserhandle {
     font-size: 16px;
     color: #B3B3B3;

     margin: 0;
}

.likesAndPosts {
     display: flex;
     justify-content: center;
     align-items: center;

     padding: 0px 10px;
     gap: auto;

     width: 100%;
     box-sizing: border-box;
}

.likes {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 4px;

     width: 100%;
}

.posts {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 4px;

     width: 100%;
}

.numbers {
     font-size: 14px;
     font-weight: Bold;
     color: #E4F3F6;

     margin: 0;
}

.numberCategory {
     font-size: 14px;
     color: #B3B3B3;

     margin: 0;
}

.bio {
     font-size: 14;
     color: #E4F3F6;
     text-align: center;

     margin: 10px;
}

.navBarContent {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     width: 100%;
}

.navBarDivider {
     background-color: #E4F3F6;

     margin: 0px 0px 5px 0px;

     width: 95%;
     box-sizing: border-box;
     height: 1px;
}

.registeredOptions {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

     width: 100%;

}

.navBarButtons {
     font-family: "Inter";
     font-size: 16px;
     font-weight: Bold;
     color: #E4F3F6;
     background-color: #1D1E1F;

     display: flex;
     justify-content: flex-start;
     align-items: center;

     gap: 10px;

     width: 100%;
}

#logOut {
     color: #DF0606;
}

.navBarButtons:hover {
     color: #16133B;
     transform: scale(1.02);
}

.navBarButtons:active {
     transform: scale(0.95); 
}

.userPostsAndComments {
     background-color: #1D1E1F; 

     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;

     width: 100%;

     padding: 10px;
     gap: 12px;
     border-radius: 12px;

     width: 100%;
     position: sticky;
}

.userPostsAndCommentsHeader {
     display: flex;
     justify-content: center;
     align-items: center;

     padding: 10px;
     gap: 10px;

     width: 100%;
     height: auto;
}

.userNavTitle {
     font-size: 20px;
     font-weight: Bold;
     color: #E4F3F6;

     padding: 0px;
     margin: 0px;

     width: 100%;
}

.userNavMore {
     font-size: 14;
     color: #98D5DC;

     text-align: end;

     width: 100%;
}

.userPostsAndCommentsContent {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

     padding: 0px;
     gap: 0px;

     width: 100%;
     height: auto;
}

.userPost {
     display: flex;
     justify-content: flex-start;
     align-items: center;

     padding: 10px;
     gap: 12px;

     width: 100%;

     background-color: #1D1E1F;
}

.userPostImage {
     width: 32px;
     height: 32px;
     border-radius: 8px;
}

.userPostTitle {
     font-size: 16px;
     font-weight: Bold;
     color: #E4F3F6;

     text-align: start;

     padding: 0px;
     margin: 0px;

     width: 100%;
     height: auto;
}

.userComment {
     font-size: 16px;
     color: #E4F3F6;

     text-align: start;

     padding: 0px;
     margin: 0px;

     width: 100%;
     height: auto;
}

.userPost:hover .userPostTitle {
     color: #16133B;
     transform: scale(1.02);
}

.userPost:active {
     transform: scale(0.95); 
}

/* ---------- NAV BAR ---------- */

/* ---------- POST FEED ---------- */

.timeline {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 20px;

     width: 100%;
     min-width: 560px;
}

.newPost {
     display: flex;
     justify-content: center;
     align-items: center;

     gap: 10px;

     width: 100%;
}

.newPostButton {
     background-color: #98D5DC;
     font-size: 16px;
     font-weight: Bold;

     display: flex;
     justify-content: center;
     align-items: center;

     border-radius: 12px;

     width: 100%;
     height: 48px;
}

.post {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 10px;

     width: 100%;
}

.mainPost {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 0px;

     width: 100%;
}

.postUser {    
     display: flex;
     justify-content: center;
     align-items: center;

     gap: 12px;
     padding: 0px 10px;

     width: 100%;
     box-sizing: border-box;
}

.profilePic {
     background-color: #D9D9D9;
     border-radius: 99px;

     width: 45px;
     height: 40px;
}

.usernameAndTime {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

     padding: 0px;
     gap: 4px;

     width: 100%;
}

.username {
     font-size: 18px;
     font-weight: Bold;
     color: #E4F3F6;

     margin: 0px;

     width: 100%;
}

.timePosted {
     font-size: 14px;
     font-style: italic;
     color: #E4F3F6;

     margin: 0px;

     width: 100%;
}

.optionsButton {
     background-color: #030909;
     color: #E4F3F6;

     display: flex;
     justify-content: center;
     align-items: center;

     padding: 2px 0px;

     width: 5px;
     height: 20px;
}

.optionsButton:hover {
     background-color: #030909;
     transform: scale(1.05);
}

.optionsButton:active {
     transform: scale(0.95); 
}

.postContent {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

     padding: 0px 10px;
     gap: 20px;

     width: 100%;
     box-sizing: border-box;
}

.postTitle {
     font-size: 24px;
     font-weight: Bold;
     color: #E4F3F6;

     margin-bottom: 0px;
}

.postText {
     font-size: 18px;
     color: #E4F3F6;

     margin-top: 0px;
}

.postImageContainer {
     display: flex;
     justify-content: flex-start;
     align-items: center;

     padding: 0px 10px 10px 10px;
     width: 100%;
     box-sizing: border-box;
}

.postImage {
     width: 100%;
     box-sizing: border-box;
     border-radius: 12px;
}

.tagsAndAnalytics {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;

     padding: 0px 10px;
     gap: 32px;

     width: 100%;
     box-sizing: border-box;
}

.tags {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: flex-start;

     gap: 12px;

     width: 100%;
     height: auto;
}

.tag {
     background-color: #98D5DC;
     font-size: 14px;
     font-weight: Bold;
     color: #030909;

     display: flex;
     justify-content: center;
     align-items: center;

     padding: 5px 10px;
     
     width: auto;
     height: auto;
}

.tag:hover {
     transform: scale(1.05);
}

.tag:active {
     transform: scale(0.95); 
}

.analytics {
     display: flex;
     justify-content: flex-end;
     align-items: center;

     padding: 0px;
     gap: 20px;

     width: 100%;
     box-sizing: border-box;
}

.hearts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 12px;

    width: auto;
    height: auto;
}

.postInteractions {
     background-color: #030909;
}

.postInteractions:hover {
     background-color: #030909;
     transform: scale(1.05);
}

.postInteractions:active {
     transform: scale(0.95); 
}

.postDivider {
     background-color: #E4F3F6;

     margin: 10px;

     width: 100%;
     box-sizing: border-box;
     height: 1px;
}

/* ---------- POST FEED ---------- */