/* ---------- GENERAL ---------- */
@font-face {
     font-family: 'JostBold'; 
     src: url('resources/Jost-Bold.ttf');
}

@font-face {
     font-family: 'Inter'; 
     src: url('resources/InterFont.ttf');
}

* {
     box-sizing: border-box;
     font-family: "Inter"; 
}

html, body {
     min-width: 1000px; 
     overflow-x: auto;
}

.inviBrk {
     height: 5px;
}
/* ---------- GENERAL ---------- */

body {
     background-color: black;
}

/* ---------- BUTTONS ---------- */
button {
     border: none; 
     cursor: pointer;

     border-radius: 8px;
     transition: background-color 0.3s, transform 0.2s;
}

button:hover {
     background-color: #7FB8C8;
     transform: scale(1.02);
}
 

button:active {
     transform: scale(0.95); 
}

.editProfile, .logOut {
     font-family: "Inter";
     font-size: 20;
     font-weight: Bold;
     color: #E4F3F6;
     background-color: #1D1E1F;

     display: flex;
     justify-content: flex-start;
     align-items: center;

     gap: 10px;
     width: 100%;
}

.usertags {
     width: auto;
     margin-top: 2px;

     opacity: 80%;
     font-size: 12px;
     text-align: justify;
}

.logOut img {
     margin-right: 3px;
}
/* ---------- BUTTONS ---------- */

/* ---------- HEADER ---------- */
#appName {
     font-family: "JostBold";
     color: #98D5DC;
     font-size: 20px;
     font-weight: 400;
}

header {
     position: sticky;
     top: 0;
     background-color: black;
     height: 80px;
     width: 100%;
     margin: 0;

     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     padding: 0 30px 0 20px;

     box-shadow: 2px 2px white;
}

#logo {
     margin-right: 15px;
}

#headercol1 {
     display: flex; 
     justify-content: flex-start; 
     align-items: center;
}

#headercol2 {
     display: flex;
     justify-content: flex-end; 
     align-items: center;
}

.searchBar {
     background-color: #ECE6F0;
     color: #49454F;
     
     display: flex;
     justify-content: flex-start;
     align-items: center;

     height: 35px;
     width: 400px;
     max-width: 800px;

     border-radius: 30px;
}

input[type="text"] {
     background: none;
     border: none;
     width: 100%;
     height: 100%;

     color: #49454F;
     font-size: 13px;
     outline: none;
}
/* ---------- HEADER ---------- */

#content {
     margin: auto;
     height: auto;
     width: 80%;
     padding: 32px;
     
     display: flex;
     flex-direction: column;
     gap: 15px;
}

#profileHeader {
     width: 100%;
     height: 20%;
}

#profileHeader img {
     width: 100%;
     height: auto;
     border-radius: 35px;

     aspect-ratio: 850 / 210;

     object-fit: cover;
     object-position: center;
}

#sub-container {
     width: 100%;
     height: auto;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 15px;
}

#col1 {
     width: 25%;
     height: auto;

     display: flex;
     flex-direction: column;
     justify-content: start;
     gap: 15px;

     color: white;
}

#col2 {
     width: 75%;
     height: auto;

     display: flex;
     flex-direction: column;
     gap: 15px;

     padding: 20px;
     border-radius: 15px;

     background-color: #1D1E1F;
}

.col1-sub-container {
     width: 100%;
     height: auto;
     
     border-radius: 15px;
     padding: 20px;

     background-color: #1D1E1F;
}

#pfpcontainer {
     width: 100%;
     height: auto;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#pfpPic {
     width: 100px;
     height: 100px;

     overflow: visible;
}

#pfpPic img {
     width: 100%;
     height: 100%;
     
     aspect-ratio: 1/1;
     border-radius: 100%;
     
     object-fit: cover;
     object-position: center;
}

#count {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

     gap: 25%;
     width: auto;
     margin-top: 10px;
}

.maintext {
     font-size: 16px;
     font-weight: bold;

     margin: 10px 0 0 0;
}

.subtext {
     font-size: 14px;
     opacity: 80%;

     margin: 2px 0 0 0;
}

.regulartext {
     font-size: 14px;
     text-align: justify;

     margin: 0;
}

h3 {
     margin-top: 0;
}

#tabrow {
     width: 100%;
     height: auto;

     display: flex;
     justify-content: space-evenly;
     align-items: center;

     padding: 10px;

     box-shadow: 0px 2px white;
}

.tab {
     font-size: 20px;
     font-weight: bold;
     color: white;

     width: 100%;
     background-color: inherit;
     margin-bottom: 10px;
}

#taglist {
     width: 100%;
}

.col2-sub-container {
     width: 100%;
     height: auto;
     
     display: flex;

     border-radius: 15px;
     padding: 20px;
}

/* ---------- POSTS ---------- */
#poststab {
     color: white;
}

.pfpPost {
     border-radius: 100px;
     width: 45px;
     height: 45px;
}

.pfpPost img {
     width: 100%;
     height: 100%;
     
     aspect-ratio: 1/1;
     border-radius: 100%;
     
     object-fit: cover;
     object-position: center;
}

#pfpuserrow, #userandpfp {
     display: flex;
     align-items: center;

     justify-content: space-between;
     gap: 15px;
}

.pfpdisplayname {
     font-weight: bold;
     font-size: 20px;
}

.smallbutton {
     color: white;
     background-color: inherit;
}

.pfpusername {
     font-size: 13px;
     opacity: 80%;
}

#pfpnames {
     display: grid;
}

#usercaption {
     padding-top: 20px;
}

#userphoto {
     margin: 20px 0;
}

#userphotocontainer {
     width: 100%;
     height: 200px;

     max-height: 200px;
     max-width: inherit;

     /* display: grid;
     align-items: center;
     justify-content: center;
     grid: 200px / auto auto auto auto; */

     display: flex;
     justify-content: center;

     gap: 10px;
}

.clickable-image {
     width: 100%;
     height: 100%;

     object-fit: cover;
     overflow: hidden;
     cursor: pointer;
     transition: transform 0.2s;
     border-radius: 15px;
}

.clickable-image:hover, .close:hover {
     transform: scale(1.005);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
     display: none;
     position: fixed; 
     z-index: 1000; 
     left: 0;
     top: 0;

     width: 100%;
     height: 100%;

     overflow: auto;
     background-color: rgba(0, 0, 0, 0.8); 
}

#userphotocontainer-modal {
     position: absolute; 
     top: 50%;
     left: 50%; 
     transform: translate(-50%, -50%);

     max-width: 90%;
     max-height: 90%; 

     display: flex;
     justify-content: center;
     align-items: center;
}
 
.modal-content {
     width: 90%;
     height: 90%; 
     object-fit: contain;
}
 
.close {
     position: absolute;
     top: 10px;
     right: 25px;
     color: white;
     font-size: 35px;
     font-weight: bold;
     cursor: pointer;
     transition: transform 0.2s;
}