/*
     This is a CSS file used in loginPage.html and signupPage.html.
*/

@font-face {
     font-family: 'Inter'; 
     src: url('resources/InterFont.ttf');
}
 
body {
     background-image: url("resources/loginbg.png");
     background-repeat: repeat;
     font-family: "Inter";

     display: flex;
     justify-content: center;
     align-items: center;
     
     height: 100vh;
     margin: 0;
}

a {
     font-style: italic;
     color: #5CDAE8;
}

.title {
     color: #D4DADA; 
     font-family: "Inter"; 

     font-size: 38px; 
     font-weight: 700; 
     margin-bottom: -5px;
}

.subText {
     color: #D4DADA; 

     font-size: 13px;
     margin-top: 22px;
     margin-bottom: 8px;
     opacity: 80%;
}

.app {
     font-weight: bold;
     color: rgb(93, 134, 255); 
}

#buttons {
     background-color: #98D5DC;
     color: black; 
     border: none; 
     cursor: pointer;
     font-weight: bold;

     padding: 5px 20px;
     border-radius: 8px;
     font-size: 15px;
     transition: background-color 0.3s, transform 0.2s;
}

#buttons:hover {
     background-color: #7FB8C8;
     transform: scale(1.05);
}
 

#buttons:active {
     transform: scale(0.95); 
}

.frame {
     padding: 30px 150px;
     gap: 10px; 

     background: #1E1E1E; 
     box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
     border-radius: 28px; 

     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
     display: flex;

     width: auto;
     height: auto;
     margin: auto;
}

.inputFields {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap: 10px;
     width: 150%;
     margin-right: 110px;
}

input[type="text"],  input[type="password"], input[type="email"] {
     width: 150%;
     padding: 10px;
     margin-bottom: -10px;
     
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 13px; 
     font-family: "Inter";     
}

.inputLabel {
     align-self: flex-start;
     text-align: left; 
     color: rgba(255, 255, 255, 0.80); 
     font-size: 18px; 
     font-weight: 600; 
     word-wrap: break-word;
     margin-bottom: 10px;
}