/*
    This is a CSS file used in userProfilePage.html
*/

@font-face {
    font-family: 'Inter'; 
    src: url('resources/InterFont.ttf');
}

@font-face {
    font-family: 'Jost'; 
    src: url('resources/Jost-Bold.ttf');
}

body {
    background-color: #030909;
    background-repeat: repeat;
    font-family: "Inter";

    display: flex;
    justify-content: center;
    align-items: flex-start;
     
    height: 100vh;
    margin: 0;
}

header {
    padding: 0px 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: auto;
    width: 100%;
    height: 88px;
}

.logoAndBrandName {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

}

.brandName {
    color: #98D5DC; 
    font-family: "Jost"; 

    font-size: 16px; 
    font-weight: Bold; 
}

.headerSpace {
    width: 100%;
}

.searchBar {
    justify-self: flex-end;
    color: white
}