<!DOCTYPE html>
<html>
    <head>
        <title> Connectify </title>
        <link rel="icon" href="/resources/Logo.svg" type="image/svg+xml">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">
        <link rel="stylesheet" type="text/css" href="/css/errorPage.css">
   </head>
   <body>
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='/'">
                <img id="logo" src="/resources/Logo.svg" />
                <p id="appName"> Connectify </p>
            </div>

            <div id="headercol2">
                <form action="/" method="GET" style="display: contents;">
                    <div class="searchBar" id="searchContainer">
                        <img src="/resources/Trailing-Elements.svg" alt="Search Icon">
                        <input type="text" id="search" name="q" placeholder="Search #tags, @authors, or words" autocomplete="off">
                        <div id="searchSuggestions" class="search-suggestions"></div>
                    </div>
                </form>

                {{#if activeUserDetails}}
                {{else}}
                    <!-- IF USER IS NOT LOGGED IN -->
                    <div class="logIn">
                        <button id="logInButton" style="border-radius" onclick="window.location.href='/login'">Log In</button>
                    </div>
                {{/if}}
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="main-image">
                <img src="/resources/error-ghost.png">
            </div>
            <div class="main-prompt">
                <h1>{{header}}</h1>
                {{#if emotion}}
                    <h2>{{emotion}}</h2>
                {{/if}}
                <p>{{description}} Go back to <a href="/" class="connectify-link">Connectify</a>.</p>
            </div>
        </div>
   </body>
</html>

<script src="/js/searchSuggestions.js"></script>