<!DOCTYPE html>
<html>
    <head>
        <title> Connectify </title>
        <link rel="icon" href="../resources/Logo.svg" type="image/svg+xml">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">
        <link rel="stylesheet" type="text/css" href="/css/errorPage.css">
   </head>
   <body>
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='../html/homePage.html'">
                <img id="logo" src="/resources/Logo.svg" />
                <p id="appName"> Connectify </p>
            </div>

            <div id="headercol2">
                <div id="search-bar" class="searchBar">
                    <img src="/resources/Trailing-Elements.svg" alt="Search Icon">
                    <input type="text" id="search" name="search" placeholder="Search #tags or ::words::" required>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="main-image">
                <img src="/resources/error-ghost.png">
            </div>
            <div class="main-prompt">
                <h1>404 Error</h1>
                <h2>Oops! Page not found.</h2>
                <p>This link may be broken or the page has been removed. Go back to <a href="homePage.html" class="connectify-link">Connectify</a>.</p>
            </div>
        </div>
   </body>
</html>