<!DOCTYPE html>
<html>
    <head>
        <title>Connectify - {{title}}</title>
        <link rel="icon" href="../resources/Logo.svg" type="image/svg+xml">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/generalStyle.css">
        <link rel="stylesheet" type="text/css" href="../css/newPostPage.css">
    </head>

    <body>
        <!-- HEADER PORTION -->
        <header>
            <div id="headercol1" onclick="window.location.href='/'">
                <img id="logo" src="../resources/Logo.svg" />
                <p id="appName"> Connectify </p>
            </div>
            <div id="headercol2">
                <div class="searchBar">
                    <img src="../resources/Trailing-Elements.svg" alt="Search Icon">
                    <input type="text" id="search" name="search" placeholder="Search #tags or ::words::" required>
                </div>
            </div>
        </header>

        <main>
            <!-- BACK BUTTON -->
            <div class="goBackLink" onclick="window.location.href='/?userId=67b9fd7ab7db71f6ae3b21d4'"> <!-- TEMP USER -->
                <span class="arrow">&#8604;</span>
                <span class="back">Back</span>
            </div>

            <form action="/posts" 
                  method="POST"
                  enctype="multipart/form-data">
                <div class="post">
                    <div class="postHeader">
                        <div class="userInfo">
                            <div class="avatar">
                                <img src="{{user.profilepic}}" alt="userProfilePicture" class="userProfilePic">
                            </div>
                            <div class="username">{{user.displayname}}</div>
                        </div>
                    </div>
                    <!-- TAG INPUT CONTAINER (hidden by default) -->
                    <div id="tagsContainer" class="tags" style="display: none;">
                        <div id="tagChips"></div>
                        <input
                            type="text"
                            id="tagsInput"
                            placeholder="Type a tag, then press comma or enter"
                            name="tags[]"
                        />
                    </div>
                    <!-- TITLE INPUT -->
                    <div class="postTitle">
                        <input
                            type="text"
                            id="postTitleInput"
                            placeholder="Your thoughts need title..."
                            name="title"
                        />
                    </div>
                    <!-- TEXT AREA FOR MAIN POST CONTENT (up to 300 chars) -->
                    <div class="postText">
                        <textarea
                            id="postTextInput"
                            placeholder="What's on your mind?"
                            maxlength="300"
                            name="content"
                        ></textarea>
                    </div>
                    <!-- IMAGE INPUT (hidden by default) -->
                    <!-- 
                        <input
                        type="file"
                        id="imageUploadInput"
                        accept="image/*"
                        multiple
                        style="display: none;"
                        name="image"
                    /> -->


                    <!-- EXPRESS FILE UPLOAD -->
                    <input type="file" name="images" multiple>


                    <!-- CHARACTER LIMIT DISPLAY -->
                    <div id="feedback" class="charLim">0/300</div>
                    <div id="break"></div>
                    <!-- UPLOADED IMAGES CONTAINER -->
                    <div class="postContent" id="postContentContainer"></div>
                    <div class="horizontalBar"></div>
                    <!-- POST ACTIONS -->
                    <div class="postActions">
                        <div class="actionButtonsLeft">
                            <button type="button" class="actionButton" id="addImageButton">
                                <img src="../resources/ImageAdd.svg" alt="Upload">
                            </button>
                            <!-- Image Modal -->
                            <div id="imageModal" class="modal">
                                <span class="close">&times;</span>
                                <div id="userphotocontainer-modal">
                                    <img class="modal-content" id="modalImage">
                                </div>
                                <div id="caption"></div>
                            </div>
                            <script>
                                const addImageButton = document.getElementById('addImageButton');
                                const imageContainer = document.getElementById('postContentContainer');
                                addImageButton.addEventListener('click', function() {
                                    imageContainer.style.display = 'flex';
                                });
                            </script>
                            <button type="button"class="actionButton" id="addTagButton">
                                <img src="../resources/Hash.svg" alt="Add Tag">
                            </button>
                        </div>
                        <!-- POST BUTTON -->
                        <button type="submit" class="postButton">Post</button>
                    </div>
                </div>
            </form>
        </main>

        <!-- PAGE JAVASCRIPT -->
        <script src="../js/newPostPage.js"></script>        
    </body>
</html>
