<!-- LIKES TAB -->
<div id="likestab" class="tab-content" style="display: block">

    <!-- LOAD LIKES DATA -->
    <div id="userLikesContainer"></div>
    <script src="/js/userLikes.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadUserLikes("likes"));
    </script>
</div>