<!-- POSTS TAB -->
<div id="poststab" class="tab-content" style="display: block">
    
    <!-- LOAD POST DATA -->
    <div id="userPostsContainer"></div>
    <script src="/js/userPosts.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", loadUserPosts("posts"));
    </script>
</div>